services:
  api:
    build: .
    container_name: licenguard-api
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: licenguard-mongo
    environment:
      MONGO_INITDB_DATABASE: licenguard
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    restart: unless-stopped

volumes:
  mongo-data:
